<div class="main">
	<div class="card">
		<div class="add">
			<a href="/houses/new">+</a>
		</div>
	</div>
	<div class="card">
		<div class="pic">
			
		</div>
			<button>delete</button>
		</form>
	</div>
</div>