<h2>add a house of your liking</h2>

<form action="/houses" method="post">
	<label for="house[city]">city:</label>
	<input name="house[city]">

	<label for="house[country]">country:</label>
	<input name="house[country]">

	<label for="house[image]">image url:</label>
	<input name="house[image]">

	<label for="house[price]">price ($):</label>
	<input name="house[price]">
	<input type="submit" value="create">
</form>

